.tab-content,.panel-body {
	padding: 0 0;
}
.box-body {
	padding:20px 15px 0 15px;
}
#nav-pills-tab-8 .panel-body {
	padding:20px 15px 0 15px;
}
.analyDiv{
	height: auto;
	overflow: hidden;
	margin-top:15px;
}
.analyDiv .srhText{
	width: 60%;
}
.analyBottom {
	margin-top:20px;
}
#nav-pills-tab-8 .tableList td img{
	width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

#data-table {
	width:100%;
	border: 1px solid #ddd;
	border-radius:5px;
}

#data-table thead {
	color:#000;
	font-size:14px;
	font-weight:700;
}
#data-table>thead>tr>th,  
#data-table>tbody>tr>td{
	border: 1px solid #ddd;
	height:40px;
	line-hieght:40px;
	text-align:center;
}
#data-table>tbody>tr:nth-child(odd)>td{
	background: #f0f3f5;
}

#data-table>tbody>tr>td>img{
	width:16px;
	height:16px;
	margin-right:10px;
}
.paging{
	width:100%
}
.fontcol{
	float:left;
	width:20%;
	height:70px;
	line-height:70px;
	margin-left:5%;
}
.tiao {
	margin: 0 3px;
}
#datatable {
	float:left;
	width:30%;
	border-radius:5px;
	margin-left:15%;
}
.goPage {
	float:right;
	width:20%;
	color:#000;
}
.goPage input {
	width:30px;
	height:20px;
	border:1px solid #ccc;
	border-radius:5px;
}

.goPage button {
	width:30px;
	height:20px;
	padding:0 0;
	font-size:12px;
}
.goPage li {
	float:left;
	height:70px;
	line-height:70px;
	margin-right:5px;
}

#lenovo {
	width: 58%;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 97px;
    top: 33px;
    display: none;
    border: 1px solid #ccc;
    border-radius:5px;
    z-index:100;
    background:#fff;
}
#lenovo li{
	width:100%;
	height:30px;
	line-height:30px;
	cursor: pointer;
}
